.general_options
{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.dimension_options
{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.decoration_options{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.flex_options{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.containerr{
    width: 200px;
    height: 100px;
    background-color: brown;
}
.right-panel
{
    
    transition: width 1s ease-in-out;
}
.right-panel:first-child:hover
{
    background-color: blue !important;
}