.general_options
{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.dimension_options
{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.decoration_options{
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}